01-ESP32-MQTT/node-red/nodered.txt
[{"id":"e96cf12a.b035d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"37c5ffb9.63251","type":"mqtt out","z":"e96cf12a.b035d8","name":"","topic":"u0118137/led","qos":"1","retain":"","broker":"d09f8c9.214437","x":780,"y":240,"wires":[]},{"id":"e3736bab.91187","type":"mqtt in","z":"e96cf12a.b035d8","name":"","topic":"u0118137/measurement","qos":"1","datatype":"auto","broker":"d09f8c9.214437","x":330,"y":660,"wires":[["d753fdca.6db9c","b02fb3bd.2d3838","3b452f03.7ff68"]]},{"id":"d753fdca.6db9c","type":"debug","z":"e96cf12a.b035d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","statusVal":"","statusType":"auto","x":740,"y":660,"wires":[]},{"id":"3c746f83.ac39d8","type":"inject","z":"e96cf12a.b035d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":350,"y":240,"wires":[["37c5ffb9.63251"]]},{"id":"21e0d84a.779128","type":"inject","z":"e96cf12a.b035d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":350,"y":300,"wires":[["37c5ffb9.63251"]]},{"id":"7aa7c0dd.82de9","type":"mqtt in","z":"e96cf12a.b035d8","name":"","topic":"u0118137/led","qos":"1","datatype":"auto","broker":"d09f8c9.214437","x":350,"y":760,"wires":[["a7598530.260e08"]]},{"id":"a7598530.260e08","type":"debug","z":"e96cf12a.b035d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":760,"wires":[]},{"id":"d9d4c07.cfb5bc","type":"ui_switch","z":"e96cf12a.b035d8","name":"","label":"LED","tooltip":"","group":"c4d1bc1e.adda48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":370,"y":160,"wires":[["37c5ffb9.63251"]]},{"id":"184b2a30.c45ef6","type":"ui_gauge","z":"e96cf12a.b035d8","name":"","group":"c4d1bc1e.adda48","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":380,"wires":[]},{"id":"b02fb3bd.2d3838","type":"function","z":"e96cf12a.b035d8","name":"","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj[\"temperature\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":380,"wires":[["184b2a30.c45ef6","fc38cdc5.50853","17fedcda.b1942b"]]},{"id":"fc38cdc5.50853","type":"debug","z":"e96cf12a.b035d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":340,"wires":[]},{"id":"79422f65.8b1c98","type":"ui_gauge","z":"e96cf12a.b035d8","name":"","group":"c4d1bc1e.adda48","order":1,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":540,"wires":[]},{"id":"3b452f03.7ff68","type":"function","z":"e96cf12a.b035d8","name":"","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj[\"humidity\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":540,"wires":[["79422f65.8b1c98","7628063d.0e839","f9295355.062ff8"]]},{"id":"7628063d.0e839","type":"debug","z":"e96cf12a.b035d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"17fedcda.b1942b","type":"ui_chart","z":"e96cf12a.b035d8","name":"","group":"c4d1bc1e.adda48","order":3,"width":"6","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":980,"y":440,"wires":[[]]},{"id":"f9295355.062ff8","type":"ui_chart","z":"e96cf12a.b035d8","name":"","group":"c4d1bc1e.adda48","order":4,"width":"6","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":600,"wires":[[]]},{"id":"d09f8c9.214437","type":"mqtt-broker","name":"","broker":"10.54.32.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4d1bc1e.adda48","type":"ui_group","name":"Default","tab":"d0291593.5e768","order":1,"disp":true,"width":"12","collapse":false},{"id":"d0291593.5e768","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]